@import './variables.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

input,
textarea {
  user-select: text;
  font-family: var(--font-default);
}

html, body {
  height: 100%;
  overflow-x: hidden;   
  background-color: var(--background-color); 
}

body {
  color: var(--text-color);
    font-family: var(--font-default);
    font-weight: 600;
}
