@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Gabarito:wght@400..900&display=swap');

:root{
    --primary-color: #FEE32B;
    --button-color: #FEE32B;
    --button-color-hover: #e6cb21;
    --secondary-color: #305252;
    --background-color: #FBEF9C;
    --text-color: #201D18;
    --success-color: #5C9B8E;
    --success-bg: #D0E5E0;
    --error-color: #9B5C5C;
    --error-bg: #EAD1D1;
    --font-default: 'Arimo', sans-serif;
  --font-heading: 'Gabarito', sans-serif;
    
}